
{% include 'header.html' %}
<div class="container">

	<h1>Shiny palm tree</h1>
	<div class="col-md-6 active">
		<h2>Events this month</h2>
		<table class="table table-striped table-bordered">
			{% for i in range(1,days[1]+1) %}
			<tr>
				<td>{{ i }} </td>
				<td> </td>
			</tr>
			{% endfor %}
		</table>
		<form class="form-inline">
			<div class="form-group">
				<input class="form-control" type="date" name="date">
			</div>
			<div class="form-group">
				<input type="text" class="form-control">
			</div>
			<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
	<div class="col-md-6"><h2>{{ month }} {{ now.year }}</2>
		<table class="table table-bordered">
			<tr class="active">
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
				<th>Sun</th>
			</tr>
			{% for week in range(0,6) %}
			<tr>
				{% for day in range(0,7) %}
				<td>{% if week==0 and days[0]==day %}{{ i }}{% elif (week==0 and day>days[0]) or (week>0 and week*7+day-days[0]+i<=days[1]) %}{{ week*7+day-days[0]+i }}{% endif %}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>

</div>

{% include 'footer.html' %}
